<div class="newsletter-signup">
  <form action="https://gmail.us21.list-manage.com/subscribe/post?u=be53efb1c4393f5111805489a&id=fa55ab56d6&f_id=00c1aae6f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
    <h2>Subscribe to the Newsletter</h2>
    <p class="newsletter-description">Get new posts delivered straight to your inbox.</p>

    <div class="newsletter-field">
      <label for="mce-EMAIL">Email Address <span class="required">*</span></label>
      <input type="email" name="EMAIL" id="mce-EMAIL" required placeholder="your@email.com">
    </div>

    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
    <div aria-hidden="true" style="position: absolute; left: -5000px;">
      <input type="text" name="b_be53efb1c4393f5111805489a_fa55ab56d6" tabindex="-1" value="">
    </div>

    <input type="submit" name="subscribe" id="mc-embedded-subscribe" value="Subscribe">
  </form>
</div>
